@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div id="title" class="container">
        <h1 class="display-4 title">Jon Bellion &nbsp; - &nbsp; Luxury</h1>  
    </div>
    <iframe 
            width="560" height="315" src="https://www.youtube.com/embed/XiycuuUwJVE" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            allowfullscreen>
    </iframe>
</div>
